* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #a9a9a9;
}

/* Apply styles to the header */
header {
    padding:15px 35px;
    background-color:white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1{
    font-weight: bold;
    font-size: 30px;
    color: black;
    margin: 0;
    display:inline;
}

header a {
    text-decoration: none;
    color: black;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* Style the Hero */
.hero {
    background-color: #F5FFFA;
    padding: 100px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
}


.hero img {
    max-height: 200px;
    margin:10px;
    border: black 4px double;
    border-radius: 50%;
}

.hero-text {
    margin: 10px;
    text-align: center;
}

.hero-text h2 {
    color: black;
}

/* About Me */

.me {
    display: block;
    text-align: center;
    padding: 150px;
    margin-bottom: 20px;
}

.me h2 {
    padding-bottom: 20px;
    margin:20px;
    font-size: 50px;
    color: black;
}

.me p {
    text-align: left;
    line-height: 1.5;
}

/*About Me End */

/*Work*/

.mywork {
    padding: 100px;
    text-align: center;
    margin-bottom: 30px;
    display: inline-block;
    overflow: auto;
    background-color: #F5FFFA;
}

.mywork h2 {
    padding-bottom: 20px;
    margin:20px;
    font-size: 50px;
    color: black;
}
    
.project-odd {
    margin: 100px;
    padding: 25px 25px 50px 25px;
}

.project-odd img {
    max-width: 300px;
    max-height: 300px;
    margin-right: 20px;
    float: left;
    border:black 3px solid;
}

.project-odd h3 {
    color: black;
    padding-bottom: 2px;
}

.project-odd h4 {
    color: black;
    padding-bottom: 4px;
}

.project-even {
    margin: 100px;
    padding: 25px 25px 50px 25px;
}

.project-even img {
    max-width: 250px;
    max-height: 300px;
    float: right;
    border: black 3px solid;
}

.project-even h3 {
    color: black;
    padding-bottom: 2px;
}

.project-even h4 {
    color: black;
    padding-bottom: 4px;
}

.project-text1 {
    text-align: left;
    margin: 20px;
}

.project-text2 {
    text-align: left;
    margin:20px;
}

/* End work section */

/* Style the footer */

footer {
    padding:15px 35px;
    background-color:white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2{
    font-weight: bold;
    font-size: 30px;
    color: black;
    margin: 0;
    display:inline;
}

.email {
    color: black;
}



footer a {
    text-decoration: none;
    color: black;
}

footer nav {
    margin: 7px 0;
}

footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

footer nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}